<%= render "layouts/admin_header" %>

<h3>questions</h3>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @questions.each do |question| %>
    <tbody>
      <tr>
        <td><%= question.title %></td>
        <td>
          <% question.question_genres.each do |genre_map| %>
            <%= genre_map.genre.name %>
          <% end %>
        </td>
        <!-- html_safeメソッドでエスケープ処理を防ぐ -->
        <td><%= question.content.html_safe %></td>
        <td>
          <%= link_to "show", admins_question_path(question) %>
          <%= link_to "Destroy", admins_question_path(question), method: :delete, "data-confirm" => "Are you sure?" %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
