<%= render "layouts/admin_header" %>

<div class="container-fluid admin">
  <div class="row justify-content-center">
    <div class="col-md-10 admin-question-detail">
      <div class="admin-question-board">
        <div class="admin-question-head">
          <div class="pin"></div>
          <div class="admin-question-head-title">
            <h2>Question</h2>
          </div>
        </div>
        <div class="admin-question-box">
          <div class="row question-title">
            <b><%= @question.title %></b>
          </div>
          <div class="row admin-question-user">
            <div class="col-md-1 user-image">
              <%= attachment_image_tag @user, :image, format:"jpeg", class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "55x40" %>
            </div>
            <div class="col-md-6 user-name">
            <%= @question.user.nickname %>さん
            </div>
          </div>
          <div class="col-md-11 question-content">
            <!-- html_safeメソッドでエスケープ処理を防ぐ -->
            <%= @question.content.html_safe %>
          </div>
          <div class="offset-md-10 col-md-2">
            <%= link_to admins_question_path(@question), method: :delete, "data-confirm" => "本当に削除してもよろしいですか?", class: "btn btn-success btn-md" do%><i class="fa fa-trash-o" aria-hidden="true"></i> 削除<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

