<%= render "layouts/user_header" %>

<% breadcrumb :genre_search, @genre %>
<%= render "layouts/breadcrumbs" %>

<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 genre-board">
        <% if @genre.case == "記事" %>
          <div class="article-head">
            <div class="pin"></div>
            <div class="article-title">
              <h2>Article</h2>
            </div>
          </div>
          <%= form_tag(genre_narrow_article_path(@genre), :method => "get" ) do %>
            <div class="input-group">
              <%= text_field_tag :search,params[:search], placeholder: "キーワードを入力してください" %>
              <%= button_tag(type: "submit") do %>
                絞り込み
              <% end %>
            </div>
          <% end %>
          <%= render "articles/article_list", articles: @articles %>
        <% else %>
          <div class="question-head">
            <div class="pin"></div>
            <div class="question-title">
              <h2>Question</h2>
            </div>
          </div>
          <%= form_tag(genre_narrow_question_path(@genre), :method => "get" ) do %>
            <div class="input-group">
              <%= text_field_tag :search,params[:search], placeholder: "キーワードを入力してください" %>
              <%= button_tag(type: "submit") do %>
                絞り込み
              <% end %>
            </div>
          <% end %>
          <%= render "questions/question_list", questions: @questions %>
        <% end %>
      </div>
    </div>
  </div>
</section>
