<% @questions.each do |question| %>
  <div class="question-item">
    <div class="offset-md-8"><%= question.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
    <div class="row question-item-head">
      <h3><b><%= question.title %></b></h3>
      <% if question.status == "回答受付中" %>
        <h3>(回答受付中)</h3>
      <% else %>
        <h3>(解決済み)</h3>
      <% end %>
    </div>
    <% question.question_genres.each do |genre_map| %>
      <%= link_to genre_path(genre_map.genre) do%>
        <div class="question-item-tag">
          <%= genre_map.genre.name %>
        </div>
      <% end %>
    <% end %>
    <div class="col-md-9 question-item-content overflow-auto">
      <!-- html_safeメソッドでエスケープ処理を防ぐ -->
      <%= question.content.html_safe %>
    </div>
    <div class="row response-box flex">
      <% if user_signed_in? && question.user_id != current_user.id %>
        <div class="response-item response" id="response-<%= question.id %>">
          <%= render "responses/response", question: question %>
        </div>
      <% else %>
        <div class="response-item">
          <i class="fa fa-handshake-o" aria-hidden="true" style="color: #eb6101;"></i><%= question.responses.count %> 共感した
        </div>
      <% end %>
      <div class="response-item">
        閲覧数<%= question.impressionist_count(:filter=>:session_hash) %>
      </div>
    </div>
    <div class="row link-box">
      <% if user_signed_in? && question.user_id == current_user.id%>
        <div class="offset-md-7 show">
           <%= link_to question_path(question), class: "btn btn-primary btn-md" do%><i class="fa fa-search-plus" aria-hidden="true"></i> 詳細<% end %>
        </div>
        <div class="edit">
          <%= link_to edit_question_path(question), class: "btn btn-primary btn-md" do%><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 編集<% end %>
        </div>
        <div class="destroy">
          <%= link_to question_path(question), method: :delete, "data-confirm" => "本当に削除してもよろしいですか?", class: "btn btn-primary btn-md" do%><i class="fa fa-trash-o" aria-hidden="true"></i> 削除<% end %>
        </div>
      <% else %>
        <div class="offset-md-9 show">
           <%= link_to question_path(question), class: "btn btn-primary btn-md" do%><i class="fa fa-search-plus" aria-hidden="true"></i> 詳細<% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>