<%= render "layouts/user_header" %>


<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 question-board">
        <div class="question-head">
          <div class="pin"></div>
          <div class="question-title">
            <h2>Question</h2>
          </div>
        </div>
        <div class="new-quesiton">
          <%= link_to new_question_path, class: "nav-link" do%><i class="fa fa-plus-square" aria-hidden="true" style="font-size: 40px;"></i> 新規投稿<% end %>
        </div>
        <% @questions.each do |question| %>
          <div class="question-item">
            <div class="row question-item-head">
              <h3><b><%= question.title %></b></h3>
            </div>
            <% question.question_genres.each do |genre_map| %>
              <div class="question-item-tag">
                <%= genre_map.genre.name %>
              </div>
            <% end %>
            <div class="col-md-9 question-item-content">
              <!-- html_safeメソッドでエスケープ処理を防ぐ -->
              <%= question.content.html_safe %>
            </div>
            <div class="row response-box">
              <div class="col-md-3 response" id="response-<%= question.id %>">
                <%= render "responses/response", question: question %>
              </div>
            </div>
            <div class="row link-box">
              <div class="offset-md-8 show">
                 <%= link_to question_path(question), class: "btn btn-primary btn-md" do%><i class="fa fa-search-plus" aria-hidden="true"></i> 詳細<% end %>
              </div>
              <div class="edit">
                <%= link_to edit_question_path(question), class: "btn btn-primary btn-md" do%><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 編集<% end %>
              </div>
              <div class="destroy">
                <%= link_to question_path(question), method: :delete, "data-confirm" => "本当に削除してもよろしいですか?", class: "btn btn-primary btn-md" do%><i class="fa fa-trash-o" aria-hidden="true"></i> 削除<% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
