<%= render "layouts/user_header" %>

<%= link_to "new", new_question_path, class: "btn btn-primary btn-md" %>
<h3>questions</h3>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>tags</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @questions.each do |question| %>
    <tbody>
      <tr>
        <td><%= question.title %></td>
        <td>
          <% question.question_genres.each do |genre_map| %>
            <%= genre_map.genre.name %>
          <% end %>
        </td>
        <!-- html_safeメソッドでエスケープ処理を防ぐ -->
        <td><%= question.content.html_safe %></td>
        <td id="question_<%= question.id %>">
          <%= render "responses/response", question: question %>
        </td>
        <td>
          <%= link_to "show", question_path(question) %>
          <%= link_to "Edit", edit_question_path(question) %>
          <%= link_to "Destroy", question_path(question), method: :delete, "data-confirm" => "Are you sure?" %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
