<% article.comments.includes(:user).order(created_at: :desc).each do |comment| %>
  <div class="comment-item" id="comment-<%= comment.id %>">
    <div class="row">
      <div class="col-md-1">
        <%= attachment_image_tag comment.user, :image, format:"jpeg", class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "60x60" %>
      </div>
      <div class="col-md-4 user-name">
        <%= link_to user_path(comment.user) do%>
          <%= comment.user.nickname %>さん
        <% end %>
      </div>
      <div class="offset-md-4 col-md-3">
        <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" id="star-rate-<%= comment.id %>"></div>
    </div>
    <div class="row">
      <div class="col-md-11 comment-content" id="comment-content-<%= comment.id %>">
        <%= comment.content %>
      </div>
      <textarea style="display: none;" id="edit-comment-<%= comment.id %>" class="form-control"><%= comment.content %></textarea>
      <div id="comment-button-<%= comment.id %>" style="display: none;">
        <button data-cancel-id=<%= comment.id %> type="button" class="btn btn-light comment-cancel-button">キャンセル</button>
        <button data-update-id=<%= comment.id%> class="btn btn-success comment-update-button">更新</button>
      </div>
    </div>
    <div class="row response-box">
      <div class="col-md-2"  id="like-<%= comment.id %>">
        <%= render 'likes/like', likeable: comment %>
      </div>
      <div class="col-md-3">
        好感度<%= comment.score %>(-0.1〜1.0)
      </div>
    </div>
    <div class="row link-box">
      <% if user_signed_in? && comment.user == current_user %>
        <div class="offset-md-8 edit">
          <button data-comment-id=<%= comment.id %> class="btn btn-primary btn-md edit-comment-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 編集</button>
        </div>
        <div class="destroy">
          <%= link_to comment_path(comment), method: :delete, remote: true, "data-confirm" => "本当に削除してもよろしいですか?", class: "btn btn-primary btn-md" do%><i class="fa fa-trash-o" aria-hidden="true"></i> 削除<% end %>
        </div>
      <% end %>
    </div>
  </div>
  <script>
    $(document).on('turbolinks:load', function(){
      $('#star-rate-<%= comment.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= comment.rate %>,
      });
    });
  </script>
<% end %>
