<thead>
  <tr>
    <th>title</th>
    <th>rate</th>
    <th>comment</th>
    <th>time</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% article.comments.each do |comment| %>
    <tr id="comment-<%= comment.id %>">
      <td>
        <%= comment.title %>
      </td>
      <td>
        <div id="star-rate-<%= comment.id %>"></div>
      </td>
      <td>
        <%= comment.content %>
      </td>
      <td>
        <%= comment.created_at.strftime("%Y/%m/%d") %>
      </td>
      <td id="like-<%= comment.id %>">
        <%= render 'likes/like', likeable: comment %>
      </td>
      <td>
        <% if comment.user == current_user %>
          <%= link_to "Destroy", comment_path(comment), method: :delete, remote: true, class:"btn  btn-success btn-sm", "data-confirm" => "本当に削除してもよろしいですか？" %>
        <% end %>
      </td>
    </tr>
    <script>
      $('#star-rate-<%= comment.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= comment.rate %>,
      });
    </script>
  <% end %>
</tbody>
