<%= render "layouts/admin_header" %>

<div class="container-fluid admin">
  <div class="row justify-content-center">
    <div class="admin-search-result shadow-lg">
      <%= render "admins/seaches/search_form" %>
    </div>
    <% if @user_or_article_or_question == "会員" %>
      <%= render "admins/users/user_list", users: @users %>
    <% elsif @user_or_article_or_question == "記事" %>
      <%= render "admins/articles/article_list", articles: @articles %>
    <% else %>
      <%= render "admins/questions/question_list", questions: @questions %>
    <% end %>
  </div>
</div>