<% articles.each do |article| %>
  <div class="article-item">
    <div class="offset-md-8"><%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
    <div class="row article-item-head">

      <h3><b><%= article.title %></b></h3>
    </div>
    <% article.article_genres.each do |genre_map| %>
      <%= link_to genre_path(genre_map.genre) do%>
        <div class="article-item-tag">
          <%= genre_map.genre.name %>
        </div>
      <% end %>
    <% end %>
    <div class="col-md-12 article-item-content overflow-auto">
      <!-- html_safeメソッドでエスケープ処理を防ぐ -->
      <%= article.content.html_safe %>
    </div>
    <div class="row response-box flex">
      <% if user_signed_in? && article.user_id != current_user.id %>
        <div class="response-item favorite" id="favorite-<%= article.id %>">
          <%= render "favorites/favorite", article: article %>
        </div>
        <div class="response-item" id="bookmarks-<%= article.id%>">
          <%= render 'bookmarks/bookmark', article: article %>
        </div>
      <% else %>
        <div class="response-item">
          <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i><%= article.favorites.count %> いいね
        </div>
        <div class="response-item">
          <i class="fa fa-bookmark" style="color: blue;"></i><%= article.bookmarks.count %>ブックマーク
        </div>
      <% end %>
      <div class="response-item">
        閲覧数<%= article.impressionist_count(:filter=>:session_hash) %>
      </div>
      <div class="response-item flex">
        <div id="star-rate-<%= article.id %>"></div>
        <div>(<%= article.comments.count %>件)</div>
      </div>
    </div>
    <div class="row link-box">
      <% if user_signed_in? && article.user_id == current_user.id%>
        <div class="offset-md-7 show">
           <%= link_to article_path(article), class: "btn btn-primary btn-md" do%><i class="fa fa-search-plus" aria-hidden="true"></i> 詳細<% end %>
        </div>
        <div class="edit">
          <%= link_to edit_article_path(article), class: "btn btn-primary btn-md" do%><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 編集<% end %>
        </div>
        <div class="destroy">
          <%= link_to article_path(article), method: :delete, "data-confirm" => "本当に削除してもよろしいですか?", class: "btn btn-primary btn-md" do%><i class="fa fa-trash-o" aria-hidden="true"></i> 削除<% end %>
        </div>
      <% else %>
        <div class="offset-md-9 show">
         <%= link_to article_path(article), class: "btn btn-primary btn-md" do%><i class="fa fa-search-plus" aria-hidden="true"></i> 詳細<% end %>
        </div>
      <% end %>
    </div>
  </div>
  <script>
    $(document).on('turbolinks:load', function(){
      $('#star-rate-<%= article.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        number :5,
        half: true,
        readOnly: true,
        score: <%= article.avarage_rate %>,
      });
    });
    $('#articles').on( 'append.infiniteScroll', function() {
      $('#star-rate-<%= article.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        number :5,
        half: true,
        readOnly: true,
        score: <%= article.avarage_rate %>,
      });
    });
  </script>
<% end %>