<%= render "layouts/user_header" %>

<% breadcrumb :articles %>
<%= render "layouts/breadcrumbs" %>

<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 article-board">
        <div class="article-head">
          <div class="pin"></div>
          <div class="article-title">
            <h2>Article</h2>
          </div>
        </div>
        <%= render "articles/new_article" %>
        <div id="articles">
          <%= render "articles/article_list", articles: @articles %>
        </div>
        <div class="page-load-status">
          <div class="infinite-scroll-request">
            <%= paginate @articles %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
