<%= render "layouts/user_header" %>

<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 article-board">
        <div class="article-head">
          <div class="pin"></div>
          <div class="article-title">
            <h2>Article</h2>
          </div>
        </div>
        <div class="article-box">
          <div class="row article-box-head">
            <h3><b><%= @article.title %></b></h3>
          </div>
          <div class="row article-user">
            <div class="col-md-1 user-image">
              <%= attachment_image_tag @article.user, :image, format:"jpeg", class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "60x60" %>
            </div>
            <div class="col-md-4 user-name">
              <%= link_to user_path(@article.user) do%>
                <%= @article.user.nickname %>さん
              <% end %>
            </div>
            <div class="offset-md-4 col-md-3">
              <%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
            </div>
          </div>
          <div class="col-md-11 article-content">
            <!-- html_safeメソッドでエスケープ処理を防ぐ -->
            <%= @article.content.html_safe %>
          </div>
          <div class="row response-box flex">
            <% if user_signed_in? && @article.user_id != current_user.id %>
              <div class="response-item favorite" id="favorite-<%= @article.id %>">
                <%= render "favorites/favorite", article: @article %>
              </div>
              <div class="response-item" id="bookmarks-<%= @article.id%>">
                <%= render 'bookmarks/bookmark', article: @article %>
              </div>
            <% else %>
              <div class="response-item">
                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i><%= @article.favorites.count %> いいね
              </div>
              <div class="response-item">
                <i class="fa fa-bookmark" style="color: blue;"></i><%= @article.bookmarks.count %>ブックマーク
              </div>
            <% end %>
            <div class="response-item">
              閲覧数<%= @article.impressionist_count(:filter=>:session_hash) %>
            </div>
            <div class="response-item flex">
              <div id="star-rate"></div>
              <div>(<%= @article.comments.count %>)件</div>
            </div>
          </div>
          <div class="row link-box">
            <% if user_signed_in? && @article.user_id == current_user.id%>
              <div class="offset-md-9 edit">
                <%= link_to edit_article_path(@article), class: "btn btn-primary btn-md" do%><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 編集<% end %>
              </div>
              <div class="destroy">
                <%= link_to article_path(@article), method: :delete, "data-confirm" => "本当に削除してもよろしいですか?", class: "btn btn-primary btn-md" do%><i class="fa fa-trash-o" aria-hidden="true"></i> 削除<% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 comment-board">
        <div class="comment-head">
          <div class="pin"></div>
          <div class="comment-title">
            <h2>Comment</h2>
          </div>
        </div>
        <% if user_signed_in? && @article.user_id != current_user.id %>
          <div class="row " id="comment-form">
            <%= render "comments/comment_form", article: @article, comment: @comment %>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-11">
            <div id="comment-table">
              <%= render "comments/comment_list", article: @article %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('#star-rate').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @article.avarage_rate %>,
  });
</script>





