<%= render "layouts/admin_header" %>

<h3>ジャンル編集</h3>

<%= form_with(url: admins_genre_path, model:@genre, local:true) do |f| %>

  <%= render "admins/shared/error_messages", resource: f.object %>

  <%= f.label :name, "ジャンル" %>
  <%= f.text_field :name, autocomplete: "name" %>

  <label>
    <%= f.radio_button :case, "記事" %> 記事
  </label>
  <label>
    <%= f.radio_button :case, "質問" %> 質問
  </label>


  <label>
    <%= f.radio_button :status, "有効" %> 有効
  </label>
  <label>
    <%= f.radio_button :status, "無効" %> 無効
  </label>

  <%= f.submit "変更を保存",class: "btn btn-primary btn-md" %>

<% end %>