<%= render "layouts/user_header" %>

<h3>登録情報編集</h3>

<%= form_with(url: user_path, model: @user, local:true) do |f| %>
<%= render 'admins/shared/error_messages', resource: f.object %>
  <%= f.label :image %><br />
  <%= image_tag "no_image.jpg", id: :img_prev , :size =>'150x150' %>
  <%= f.attachment_field :image %>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>

  <%= f.submit "編集内容を保存する",class: "btn btn-primary"%>
<% end %>

<%= link_to "退会する",user_leave_path(@user), class: "btn btn-danger" %>

<!-- 画像投稿のプレビュー表示 -->
<script>
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#user_image").change(function(){
        readURL(this);
    });
  });
</script>
