<%= render "layouts/user_header" %>

<section>
  <ul class="nav nav-tabs bg-success" role="tablist">
    <li>
      <!-- hrefとidを同じにすることでリンクさせる -->
      <!-- area-selectedで初期画面を選ぶ -->
      <a href="#profile" data-toggle="tab" class="nav-link" role="presentation" aria-selected="false" style="color:black;">プロフィール</a>
    </li>
    <li>
      <a href="#history" data-toggle="tab" class="nav-link" role="presentation" aria-selected="false" style="color:black;">閲覧履歴</a>
    </li>
    <li>
      <a href="#bookmark" data-toggle="tab" class="nav-link" role="presentation" aria-selected="false" style="color:black;">ブックマーク</a>
    </li>
    <li>
      <a href="#article" data-toggle="tab" class="nav-link" role="presentation" aria-selected="false" style="color:black;">My Article</a>
    </li>
    <li>
      <a href="#question" data-toggle="tab" class="nav-link" role="presentation" aria-selected="false" style="color:black;">My Question</a>
    </li>
  </ul>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="tab-content">
        <div class="user-info" role="tabpanel" id="profile">
          <div class="pin"></div>
          <div class="profile-title">
            <h4>プロフィール</h4>
          </div>
          <div class="row infomation-items">
            <div class="col-md-4 user-image">
              <div class="info-item">
                <%= attachment_image_tag @user, :image, format:"jpeg", class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "220x200" %>
              </div>
            </div>
            <div class="col-md-8 info-item">
              <table class="table table-bordered user-table">
                <thead class="thead-dark">
                  <tr>
                    <th>
                      <%= @user.nickname %> さんについて
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-secondary">
                    <td>
                      参加日　　:　<%= @user.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                    </td>
                  </tr>
                  <tr class="table-secondary">
                    <td>
                      名前　　　:　<%= @user.nickname %>
                    </td>
                  </tr>
                  <tr class="table-secondary">
                    <td>
                      自己紹介　:　<%= @user.introduction %>
                    </td>
                  </tr>
                  <tr class="table-secondary">
                    <td>
                      <% if @user == current_user %>
                        <%= link_to edit_user_path(@user), class: "btn btn-block rounded-pill btn-info shadow" do%><i class="fa fa-wrench" aria-hidden="true"></i><% end %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <%= pie_chart ({ "解決済み": @clear_quesions.count, "回答受付中": (@questions.count - @clear_quesions.count) }) %>
            </div>
            <div class="col-md-6">
              <%= pie_chart ({ "ベストアンサー": @best_answers.count, "アンサー": (@answers.count - @best_answers.count) }) %>
            </div>
          </div>
        </div>
        <!-- 閲覧履歴 -->
        <div class="history-board tab-pane" role="tabpanel" id="history">
          <div class="history-head">
            <div class="pin"></div>
            <div class="history-title">
              <h4>閲覧履歴</h4>
            </div>
          </div>
          <% @browsing_histories.each do |history| %>
            <%= link_to article_path(history.article), class: "my-bt" do%>
              <div class="history-item">
                <div class="row history-item-head">
                  <h3><b><%= history.article.title %></b></h3>
                </div>
                <% history.article.article_genres.each do |genre_map| %>
                  <div class="history-item-tag">
                    <%= genre_map.genre.name %>
                  </div>
                <% end %>
                <div class="col-md-9 history-item-content overflow-auto">
                  <!-- html_safeメソッドでエスケープ処理を防ぐ -->
                  <%= history.article.content.html_safe %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- ブックマーク -->
        <div class="bookmark-board tab-pane" role="tabpanel" id="bookmark">
          <div class="bookmark-head">
            <div class="pin"></div>
            <div class="bookmark-title">
              <h4>ブックマーク</h4>
            </div>
          </div>
          <% @bookmarks.each do |bookmark| %>
            <%= link_to article_path(bookmark.article) do%>
              <div class="bookmark-item">
                <div class="row bookmark-item-head">
                  <h3><b><%= bookmark.article.title %></b></h3>
                </div>
                <% bookmark.article.article_genres.each do |genre_map| %>
                  <div class="bookmark-item-tag">
                    <%= genre_map.genre.name %>
                  </div>
                <% end %>
                <div class="col-md-9 bookmark-item-content overflow-auto">
                  <!-- html_safeメソッドでエスケープ処理を防ぐ -->
                  <%= bookmark.article.content.html_safe %>
                </div>
                <% if user_signed_in? && bookmark.article.user_id != current_user.id %>
                  <div class="row response-box flex">
                    <div class="response-item favorite" id="favorite-<%= bookmark.article.id %>">
                      <%= render "favorites/favorite", article: bookmark.article %>
                    </div>
                    <div class="response-item" id="bookmarks-<%= bookmark.article.id%>">
                      <%= render 'bookmarks/bookmark', article: bookmark.article %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- 記事一覧 -->
        <div class="article-board tab-pane" role="tabpanel" id="article">
          <div class="article-head">
            <div class="pin"></div>
            <div class="article-title">
              <h3>My Article</h3>
            </div>
          </div>
          <%= render "articles/new_article" %>
          <%= render "articles/article_list", articles: @articles %>
        </div>
        <!-- 質問一覧 -->
        <div class="question-board tab-pane" role="tabpanel" id="question">
          <div class="question-head">
            <div class="pin"></div>
            <div class="question-title">
              <h3>My Question</h3>
            </div>
          </div>
          <%= render "questions/new_question" %>
          <%= render "questions/question_list", questions: @questions %>
        </div>
      </div>
    </div>
  </div>
</section>

