<%= render "layouts/user_header" %>

<%= render "users/notification" %>

<h3>User info</h3>
<%= attachment_image_tag @user, :image, format:"jpeg", class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "100x100" %>

<table class="table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>nickname</td>
      <td> <%= @user.nickname %> </td>
      <td> <%= @user.status %> </td>
      <td>introduction</td>
      <td><%= @user.introduction %>
    </tr>
  </tbody>
</table>
<% if @user == current_user %>
  <%= link_to edit_user_path(@user), class: "btn btn-block btn-default" do%>編集する<% end %>
<% end %>

<!-- 閲覧履歴 -->
<h3>BrowsingHistory</h3>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>
  <% @browsing_histories.each do |history| %>
    <tbody>
      <tr>
        <td><%= history.article.title %></td>
        <td>
        <!-- html_safeメソッドでエスケープ処理を防ぐ -->
        <td><%= history.article.content.html_safe %></td>
      </tr>
    </tbody>
  <% end %>
</table>

<!-- ブックマーク -->
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>
  <% @bookmarks.each do |bookmark| %>
    <tbody>
      <tr>
        <td><%= bookmark.article.title %></td>
        <td>
        <!-- html_safeメソッドでエスケープ処理を防ぐ -->
        <td><%= bookmark.article.content.html_safe %></td>
      </tr>
    </tbody>
  <% end %>
</table>


