<%= render "layouts/user_header" %>

<% breadcrumb :search_result %>
<%= render "layouts/breadcrumbs" %>

<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="search-result shadow-lg">
        <%= render "seaches/search_form" %>
      </div>
      <% if @article_or_question == "記事" %>
        <div class="col-md-10 article-board">
          <div class="article-head">
            <div class="pin"></div>
            <div class="article-title">
              <h2>Article</h2>
            </div>
          </div>
          <%= form_tag(article_sort_path, :method => "get" ) do %>
            <div class="input-group">
              <%= select_tag(:keyword, options_for_select([["新しい投稿順", "new"],["古い投稿順", "old"],["いいねの多い順", "likes"],["いいねの少ない順", "dislikes"],["ブックマークの多い順", "bookmarks"],["ブックマークの少ない順", "disbookmarks"],["平均評価の多い順", "rates"],["平均評価の少ない順", "disrates"]])) %>
              <%= button_tag(type: "submit") do %>
                並び替える
              <% end %>
            </div>
          <% end %>
          <div id="articles">
            <%= render "articles/article_list", articles: @articles %>
          </div>
          <div class="page-load-status">
            <div class="infinite-scroll-request">
              <%= paginate @articles %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-md-10 question-board">
          <div class="question-head">
            <div class="pin"></div>
            <div class="question-title">
              <h2>Question</h2>
            </div>
          </div>
          <%= form_tag(question_sort_path, :method => "get" ) do %>
            <div class="input-group">
              <%= select_tag(:keyword, options_for_select([["新しい投稿順", "new"],["古い投稿順", "old"],["共感の多い順", "responses"],["共感の少ない順", "disresponses"],["回答受付中", "unsolve"],["解決済", "solve"]])) %>
              <%= button_tag(type: "submit") do %>
                並び替える
              <% end %>
            </div>
          <% end %>
          <div id="questions">
            <%= render "questions/question_list", questions: @questions %>
          </div>
          <div class="page-load-status">
            <div class="infinite-scroll-request">
              <%= paginate @questions %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>