<%= render "layouts/admin_header" %>

<div class="container-fluid admin">
  <div class="row justify-content-center">
    <div class="col-md-11 admin-article">
      <div class="pin"></div>
      <div class="admin-article-title">
        <h3>記事一覧</h3>
      </div>

      <table class="table admin-table table-hover">
        <thead>
          <tr class="admin-tr">
            <th>投稿者</th>
            <th>タイトル</th>
            <th>ジャンル</th>
            <th>内容</th>
            <th>投稿日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <!-- overflow-autoと幅と高さの指定と折り返し設定で、スクロール -->
              <td><div class="admin-article-content overflow-auto"><%= article.user.nickname %></div></td>
              <td><div class="admin-article-content overflow-auto"><%= article.title %></div></td>
              <td>
                <div class="admin-article-content overflow-auto">
                  <% article.article_genres.each do |genre_map| %>
                    <%= genre_map.genre.name %>
                  <% end %>
                </div>
              </td>
              <!-- html_safeメソッドでエスケープ処理を防ぐ -->
              <td><div class="admin-article-content overflow-auto"><%= article.content.html_safe %></div></td>
              <td><div class="admin-article-content overflow-auto"><%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div></td>
              <td>
                <div class="admin-article-content">
                  <%= link_to admins_article_path(article), class: "btn btn-success btn-md" do%><i class="fa fa-search-plus" aria-hidden="true"></i> 詳細<% end %>
                  <%= link_to admins_article_path(article), method: :delete, "data-confirm" => "本当に削除してもよろしいですか?", class: "btn btn-success btn-md" do%><i class="fa fa-trash-o" aria-hidden="true"></i> 削除<% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
