<div class="header" id="header">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      <h3>Museful</h3>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to notifications_path, class: "my-bt" do%>notifications<% end %></li>
          <li><%= link_to articles_path, class: "my-bt" do%>articles<% end %></li>
          <li><%= link_to questions_path, class: "my-bt" do%>questions<% end %></li>
          <li><%= link_to user_path(current_user), class: "my-bt" do%>My Page<% end %></li>
         <li><%= link_to destroy_user_session_path, method: :delete, class: "my-bt" do%>logout<% end %></li>
        <% else %>
          <li><%= link_to articles_path, class: "my-bt" do%>articles<% end %></li>
          <li><%= link_to questions_path, class: "my-bt" do%>questions<% end %></li>
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
          <li><%= link_to new_user_registration_path, class: "my-bt" do%> sign up<% end %></li>
          <li><%= link_to new_user_session_path, class: "my-bt" do%>
          login<% end %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>