<!DOCTYPE html>
<html>
  <head>
    <title>Museful</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="nav-blank"></div>
    <%= yield %>
    <footer>
      <br>
      <p class="text-center">
        皆さんの新生活の手助けになるサイトを目指しています<br>
        改善した方が良い所があればご連絡ください！<br>
        お待ちしております。<br>
        <br>
        ヒバナ様より配布されているイラスト使用<br>
        URL:http://hibana.rgr.jp/sozai.shtml#bg<br>
        <br>
        CopyRight 2020 Museful
      </p>
      <br>
    </footer>
  </body>
</html>
